VS_VERSION_INFO VERSIONINFO
    FILEVERSION    1,17,1,0
    PRODUCTVERSION 1,17,1,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "FileDescription",    "MCA Selector\0"
            VALUE "FileVersion",        "1.17.1.0\0"
            VALUE "LegalCopyright",     "© 2018-2021 Querz\0"
            VALUE "OriginalFilename",   "MCA Selector.exe\0"
            VALUE "ProductName",        "MCA Selector\0"
            VALUE "ProductVersion",     "1.17.1\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}