.idea
out
.gradle
*.iml
*.mca
cache/
1.12.2.jar
1.12.2.zip
1.12.2/
settings.ini
build/
test113/
/agent.jar
/manifest.txt
*.patch
import_test/
*.log
deploy/
export/
!src/test/resources/import/source/r.0.-1.mca
!src/test/resources/import/source/r.-1.-1.mca
!src/test/resources/import/target/r.-1.-1.mca