.idea
out
.gradle
*.iml
*.mca
cache/
1.12.2.jar
1.12.2.zip
1.12.2/
settings.ini
build/
test113/
/agent.jar
/manifest.txt
*.patch
import_test/
*.log
/*_rsa
export/
!src/test/resources/import/source/*.mca
!src/test/resources/import/target/*.mca
!src/test/resources/anvil*/*.mca
7za.exe
/test
.DS_Store
/tmp