* {
	-color-dark-background: #262626;
	-color-dark-hover-background: #3f3f3f;
	-color-dark-disabled-background: #2e2e2e;
	-color-light-background: #f2f2f2;
	-color-white: white;
	-color-light: #f2f2f2;
	-color-light-separator: #898989;
	-color-light-group: #a8a8a8
}

/* basic menu background color */
.menu-bar, .menu, .menu-item, .context-menu {
	-fx-background-color: -color-dark-background;
}

/* menu paddings */
.menu-bar {
	-fx-padding: 0;
}

.menu {
	-fx-padding: 2 5 2 5;
}

.menu .context-menu {
	-fx-padding: 1;
}

/* menu text color and check-menu icon */
.menu >.label, .menu-item >.label, .check-menu-item {
	-fx-text-fill: -color-light;
	-fx-focused-mark-color: -color-light;
	-fx-mark-color: -color-light;
}

/* menu hovering */
.menu:hover, .menu-item:hover, .check-menu-item:hover {
	-fx-background-color: -color-dark-hover-background;
}

/* if the menu-item is disabled, this will overwrite the hover style */
.menu-item:disabled {
	-fx-background-color: -color-dark-disabled-background;
	-fx-opacity: 1;
}

/* separator lines in menus */
.separator *.line {
	-fx-border-width: 0;
	-fx-background-color: -color-light-separator;
}

/* shadow for tilemap box and colors for tilemap control elements */
.tile-map-box {
	-fx-effect: innershadow(gaussian, black, 8, 0, 0, 0);
	-marked-region-color: rgba(255, 0, 0, 0.8);
	-marked-chunk-color: rgba(255, 115, 0, 0.8);
	-region-grid-color: black;
	-chunk-grid-color: darkgray;
	-grid-line-width: 0.5;
	-empty-chunk-background-color: black;
	-empty-color: rgba(51, 51, 51, 1);
}

/* status bar styles */
.status-bar {
	-fx-background-color: -color-dark-background;
}

.status-bar .label {
	-fx-text-fill: #f2f2f2;
}

/*filter combobox*/
.combo-box {
	-fx-background-color: -color-dark-background;
	-fx-background-radius: 0;
	-fx-border-width: 0 2 0 0;
	-fx-border-insets: 0 0 -1 0;
	-fx-border-color: -color-light-background;
	-fx-pref-width: 130px;
	-fx-min-width: 70px;
}

.combo-box .list-cell {
	-fx-text-fill: -color-light;
	-fx-padding: 2 5 2 5;
}

.combo-box-popup .list-cell {
	-fx-background-color: -color-dark-background;
}

.filter-box {
	-fx-padding: 1 0 1 5;
	-fx-background-color: -color-light-background;
}

/*no padding for root group*/
.group-filter-box-root {
	-fx-padding: 0;
}

/*no padding for group filters*/
.group-filter-box {
	-fx-padding: 1 0 1 1;
	-fx-border-insets: 0 0 0 3;
	-fx-border-width: 2 0 2 2;
	-fx-border-color: -color-light-group;
}

.text-field {
	-fx-background-color: -color-white;
	-fx-background-radius: 0;
	-fx-border-width: 1px;
	-fx-border-color: -color-light-separator;
	-fx-pref-height: 22px;
	-fx-max-height: 22px;
	-fx-padding: 0;
	-fx-font-weight: bold;
}