* {
	-color-text-light: #f2f2f2;
	-color-text-dark: #a6a6a6;
	-color-dialog-background: #3c3f41;
	-color-dialog-header-background: #494d50;
	-color-dialog-separator: #515151;
	-color-progress-bar-track: #616b6b;
	-color-progress-bar-background: #494d50;
	-color-combo-box-background: #3c3f41;
	-color-combo-box-border: #646464;
	-color-combo-box-arrow: #bbbbbb;
	-color-combo-box-hover-background: #494d50;
	-color-combo-box-hover-border: #666666;
	-color-combo-box-hover-arrow: #bfbfbf;
	-color-combo-box-list-border: #020202;
	-color-combo-box-focused-shadow: #00bfff;
	-color-text-field-background: #45494a;
	-color-text-field-border: #646464;
	-color-text-field-focused-shadow: #00bfff;
	-color-filter-box-invalid-background: #9e494a;
	-color-filter-box-invalid-shadow: #ff4000;
	-color-filter-box-control-hover-background: #494d50;
	-color-filter-box-insert: #636769;
	-color-radio-button-background: #43494a;
	-color-radio-button-circle: #6a6a6a;
	-color-radio-button-dot: #bbbbbb;
	-color-slider-thumb-background: #bbbbbb;
	-color-scroll-pane-border: #646464;
	-color-scroll-pane-shadow: #000000;
	-color-scroll-bar-thumb: #7c7c7c;
	-color-button-background: #4c5052;
	-color-button-border: #5e6060;
	-color-button-text: #acbbbb;
	-color-button-hover-background: #565a5d;
	-color-button-hover-border: #656767;
	-color-button-hover-text: #b9c6c6;
	-color-button-focused-shadow: #00bfff;
	-color-button-disabled-background: #3c3f41;
	-color-button-disabled-text: #6f7777;
	-color-menu-background: #3c3f41;
	-color-menu-disabled-background: #303336;
	-color-menu-hover-background: #494d50;
	-color-menu-separator: #898989;
	-color-check-menu-item-enabled: #f2f2f2;
	-color-tilemap-shadow: #000000;
	-color-picker-preview-shadow: #000000;
	-color-field-cell-odd: #46494b;
	-color-field-cell-even: #3c3f41;
	-color-field-valid-shadow: #00ff40;
	-color-field-valid-background: #489d5e;
	-color-treeview-cell-insert: #636769;
	-color-table-line: #636769;
	-color-warning-text: #ff6651;
}

/*---------- MENU BAR, MENU AND MENU ITEM ----------*/

/* basic menu background color */
.menu-bar, .menu, .menu-item, .context-menu {
	-fx-background-color: -color-menu-background;
}

/* menu paddings */
.menu-bar {
	-fx-padding: 0;
}

.menu {
	-fx-padding: 2 5 2 5;
}

.menu .context-menu {
	-fx-padding: 1;
}

/* menu text color and check-menu icon */
.menu .label, .menu-item >.label, .check-menu-item {
	-fx-text-fill: -color-text-light;
	-fx-focused-mark-color: -color-check-menu-item-enabled;
	-fx-mark-color: -color-check-menu-item-enabled;
}

/* menu hovering */
.menu:hover, .menu-item:hover, .check-menu-item:hover {
	-fx-background-color: -color-menu-hover-background;
}

/* if the menu-item is disabled, this will overwrite the hover style */
.menu-item:disabled {
	-fx-background-color: -color-menu-disabled-background;
	-fx-opacity: 1;
}

/* separator lines in menus */
.menu .separator *.line {
	-fx-border-width: 0;
	-fx-background-color: -color-menu-separator;
}

/*---------- RADIO BUTTON ----------*/

.radio-button {
	-fx-text-fill: -color-text-light;
	-fx-min-width: 150px;
}

.radio-button .radio {
	-fx-background-color: -color-radio-button-background;
	-fx-border-color: -color-radio-button-circle;
	-fx-border-radius: 10;
	-fx-border-width: 2;
	-fx-border-insets: 4;
	-fx-background-insets: 4;
}

.radio-button .radio .dot {
	-fx-padding: 3;
	-fx-mark-color: -color-radio-button-dot;
}

/*---------- CHECKBOX ----------*/

.check-box {
	-fx-padding: 4 0 -3 0;
	-fx-text-fill: -color-text-light;
}

.check-box .box {
	-fx-background-color: -color-radio-button-background;
	-fx-border-color: -color-radio-button-circle;
	-fx-border-radius: 2;
	-fx-border-width: 2;
	-fx-border-insets: 3;
	-fx-background-insets: 3;
}

.check-box .box .mark {
	-fx-padding: 5;
	-fx-mark-color: -color-radio-button-dot;
}

/*---------- BUTTON ----------*/

.button {
	-fx-background-color: -color-button-background;
	-fx-border-color: -color-button-border;
	-fx-text-fill: -color-button-text;
	-fx-border-width: 1;
	-fx-border-radius: 1;
	-fx-background-radius: 1;
	-fx-pref-height: 22px;
	-fx-max-height: 22px;
	-fx-padding: 0;
}

.button:hover {
	-fx-background-color: -color-button-hover-background;
	-fx-border-color: -color-button-hover-border;
	-fx-text-fill: -color-button-hover-text;
}

.button:focused {
	-fx-effect: dropshadow(gaussian, -color-combo-box-focused-shadow, 4, 0, 0, 0);
}

.button-base:disabled {
	-fx-background-color: -color-button-disabled-background;
	-fx-text-fill: -color-button-text;
}

/*---------- COMBO BOX ----------*/

.combo-box {
	-fx-background-color: -color-combo-box-background;
	-fx-background-radius: 0;
	-fx-border-width: 1;
	-fx-border-color: -color-combo-box-border;
	-fx-pref-width: 130px;
	-fx-min-width: 70px;
	-fx-padding: 0;
}

.combo-box:hover {
	-fx-background-color: -color-combo-box-hover-background;
	-fx-border-color: -color-combo-box-hover-border;
}

.combo-box:focused {
	-fx-effect: dropshadow(gaussian, -color-combo-box-focused-shadow, 4, 0, 0, 0);
}

.combo-box-base .arrow-button {
	-fx-border-width: 0 0 0 1;
	-fx-border-color: -color-combo-box-border;
	-fx-padding: 0 5 0 5;
}

.combo-box-base .arrow-button .arrow {
	-fx-background-color: -color-combo-box-arrow;
}

.combo-box .list-cell {
	-fx-text-fill: -color-text-light;
	-fx-padding: 2 5 2 5;
}

.combo-box-popup .list-view {
	-fx-padding: 0;
	-fx-border-width: 0 1 1 1;
	-fx-border-color: -color-combo-box-list-border;
}

.combo-box-popup .list-cell:hover {
	-fx-background-color: -color-menu-hover-background;
}

.combo-box-popup .list-cell {
	-fx-background-color: -color-menu-background;
}

/*---------- TEXT FIELD ----------*/

.text-field {
	-fx-background-color: -color-text-field-background;
	-fx-background-radius: 0;
	-fx-border-width: 1px;
	-fx-border-color: -color-text-field-border;
	-fx-pref-height: 22px;
	-fx-max-height: 22px;
	-fx-min-width: 30px;
	-fx-padding: 0;
	-fx-font-weight: bold;
	-fx-text-fill: -color-text-light;
}

.text-field:focused {
	-fx-effect: dropshadow(gaussian, -color-text-field-focused-shadow, 4, 0, 0, 0);
}

/*---------- SCROLL PANE ----------*/

.scroll-pane {
	-fx-background-color: -color-dialog-background;
	-fx-fit-to-width: true;
	-fx-border-width: 1;
	-fx-border-color: -color-scroll-pane-border;
	-fx-pref-height: 300;
	-fx-max-height: 300;
}

.scroll-pane > .viewport {
	-fx-effect: innershadow(gaussian, -color-scroll-pane-shadow, 4, 0, 0, 0);
	-fx-background-color: transparent;
}

.scroll-bar {
	-fx-background-color: -color-dialog-background;
}

.scroll-bar .thumb {
	-fx-background-color: -color-scroll-bar-thumb;
}

.scroll-bar:horizontal .increment-button, .scroll-bar:horizontal .decrement-button, .scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
	visibility: hidden;
	-fx-max-height: 0;
	-fx-pref-height: 0;
	-fx-padding: 0;
}

/*---------- LOCATION INPUT ----------*/

.location-input {
	-fx-spacing: 5;
}

/*---------- DIALOG ----------*/

.dialog-pane {
	-fx-background-color: -color-dialog-background;
}

.dialog-pane:header .header-panel {
	-fx-background-color: -color-dialog-header-background;
}

.dialog-pane .label {
	-fx-text-fill: -color-text-light;
}

.dialog-pane:header .header-panel .label {
	-fx-background-color: -color-dialog-header-background;
	-fx-text-fill: -color-text-light;
}

.dialog-pane > .button-bar > .container {
	-fx-background-color: -color-dialog-background;
}

.dialog-pane > .content.label {
	-fx-background-color: -color-dialog-background;
	-fx-text-fill: -color-text-light;
}

.dialog-pane .separator {
	-fx-padding: 10 0 10 0;
}

.dialog-pane .separator *.line {
	-fx-background-color: -color-dialog-separator;
}

/*---------- ABOUT DIALOG ----------*/

.about-dialog-pane {
	-fx-min-width: 350px;
}

.about-dialog-pane .about-dialog-grid-pane .label {
	-fx-label-padding: 8 15 8 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink {
	-fx-padding: 8 15 8 -8;
	-fx-border-color: transparent;
	-fx-border-width: 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink-update {
	-fx-padding: 8 15 8 0;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink:visited  {
	-fx-text-fill: -color-text-light;
}

.about-dialog-pane .about-dialog-grid-pane .hyperlink .label {
	-fx-padding: 0;
}

.about-dialog-pane .about-dialog-grid-pane .label-hint {
	-fx-padding: 0 0 0 15;
}

/*---------- PROGRESS DIALOG ----------*/

.progress-dialog {
	-fx-background-color: transparent;
	-fx-pref-width: 200;
	-fx-pref-height: 120;
	-fx-background-insets: 5 10 10 5;
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 10, 0, 4, 4)
}

.progress-dialog .progress-title {
	-fx-background-color: -color-dialog-background;
	-fx-text-fill: -color-text-light;
	-fx-padding: 10 15 5 15;
	-fx-background-insets: 5 15 0 5;
}

.progress-dialog .progress-bar {
	-fx-background-color: -color-progress-bar-background;
	-fx-padding: 5 20 5 10;
	-fx-background-insets: 0 15 0 5;
}

.progress-dialog .progress-bar .bar {
	-fx-background-insets: 0 5 0 5;
	-fx-padding: 5;
}

.progress-dialog .progress-bar .track {
	-fx-background-color: -color-progress-bar-track;
	-fx-background-radius: 1;
	-fx-background-insets: 0 5 0 5;
}

.progress-dialog .progress-info {
	-fx-background-color: -color-dialog-background;
	-fx-text-fill: -color-text-light;
	-fx-padding: 5 10 20 15;
	-fx-background-insets: 0 15 15 5;
}

.progress-dialog .cancel-box {
	-fx-alignment: top-center;
	-fx-background-color: -color-dialog-background;
	-fx-padding: -10 15 5 0;
	-fx-background-insets: -15 15 0 5;
}

.progress-dialog .cancel-box .button {
	-fx-padding: 0 10 0 10;
}

/*---------- TILE MAP ----------*/

.tile-map-box {
	-fx-effect: innershadow(gaussian, -color-tilemap-shadow, 8, 0, 0, 0);
	-region-grid-color: black;
	-chunk-grid-color: darkgray;
	-grid-line-width: 0.5;
	-empty-chunk-background-color: black;
	-empty-color: rgba(51, 51, 51, 1);
}

/*---------- STATUS BAR ----------*/

.status-bar {
	-fx-background-color: -color-menu-background;
	-fx-min-width: 0;
}

.status-bar .label {
	-fx-text-fill: -color-text-light;
}

.status-bar-grid {
    -fx-hgap: 5px;
}

/*---------- FILTER ----------*/

.filter-operators-grid {
	-fx-hgap: 5;
	-fx-padding: 0 5 0 0;
}

.filter-controls-grid {
	-fx-hgap: 5;
	-fx-padding: 0 2 0 5;
}

/* operator combo-box */
.filter-operator-combo-box {
	-fx-pref-width: 70px;
	-fx-min-width: 70px;
}

/* comparator combo-box */
.filter-comparator-combo-box {
	-fx-pref-width: 60px;
	-fx-min-width: 60px;
}

.filter-box {
	-fx-padding: 6 0 6 10;
	-fx-background-color: -color-dialog-background;
	-fx-border-width: 1 0 0 1;
	-fx-border-color: -color-dialog-separator;
}

.filter-box .control-label:hover {
	-fx-background-color: -color-filter-box-control-hover-background
}

.number-filter-box-invalid .text-field, .text-filter-box-invalid .text-field {
	-fx-background-color: -color-filter-box-invalid-background;
	-fx-effect: dropshadow(gaussian, -color-filter-box-invalid-shadow, 4, 0, 0, 0);
}

/*no padding for root group*/
.group-filter-box-root {
	-fx-padding: 0;
	-fx-border-width: 0;
	-fx-border-insets: 0;
}

.filter-dialog-option-box {
	-fx-hgap: 20;
	-fx-vgap: 5;
}

.filter-dialog-option-box .filter-dialog-stack-pane .text-field {
	-fx-min-width: 40px;
	-fx-pref-width: 40px;
	-fx-alignment: center;
}

.filter-dialog-pane .scroll-pane {
	-fx-pref-height: 1000px;
	-fx-max-height: 1000px;
}

.filter-dialog-pane {
    -fx-pref-height: 500px;
}

.filter-drop-target-before {
	-fx-background-color: linear-gradient(from 0% 100% to 0% 0%, -color-dialog-background, -color-dialog-background 70%, -color-filter-box-insert 90%, -color-filter-box-insert);
}

.filter-drop-target-into {
	-fx-background-color: -color-filter-box-insert;
}

.filter-drop-target-after {
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, -color-dialog-background, -color-dialog-background 70%, -color-filter-box-insert 90%, -color-filter-box-insert);
}

/*---------- NBT Changer ----------*/

.change-nbt-dialog-pane .text-field {
	-fx-text-fill: -color-text-light;
}

.change-nbt-dialog-pane .field-view {
	-fx-background-color: -color-dialog-background;
}

.change-nbt-dialog-pane .field-view .field-cell {
	-fx-padding: 2 5 2 5;
}

.change-nbt-dialog-pane .field-view .field-cell-even {
	-fx-background-color: -color-field-cell-even;
}

.change-nbt-dialog-pane .field-view .field-cell-odd {
	-fx-background-color: -color-field-cell-odd;
}

.change-nbt-dialog-pane .field-view .field-cell .label {
	-fx-text-fill: -color-text-light;
	-fx-pref-width: 130px;
	-fx-min-width: 70px;
}

.change-nbt-dialog-pane .field-view .field-cell-valid {
	-fx-background-color: -color-field-valid-background;
	-fx-effect: dropshadow(gaussian, -color-field-valid-shadow, 4, 0, 0, 0);
}

.change-nbt-dialog-pane .scroll-pane {
	-fx-pref-height: inherit;
	-fx-max-height: 300;
}

/*---------- IMPORT CHUNKS OPTION GRID ----------*/

.import-chunks-options-grid {
	-fx-vgap: 15;
	-fx-hgap: 10;
}

/*---------- Slider ----------*/

.slider {
	-fx-show-tick-labels: true;
	-fx-show-tick-marks: true;
	-fx-snap-to-ticks: true;
}

.slider .thumb {
	-fx-background-radius: 0;
	-fx-pref-width: 6;
}

.slider .track {
	-fx-background-color: #616b6b;
	-fx-background-radius: 0;
}

.slider .axis {
	-fx-tick-label-fill: -color-text-light;
}

.slider-value-field {
	-fx-pref-width: 40;
}

/*---------- Settings Dialog ----------*/

.slider-grid-pane .slider {
	-fx-pref-width: 200;
	-fx-padding: 0 10 0 10;
}

.color-preview-button {
	-fx-pref-width: 240;
}

.slider-grid-pane .label {
	-fx-padding: 10 10 10 0;
}

.languages-combo-box {
	-fx-alignment: center;
	-fx-pref-width: 240;
}

/*---------- Transparent Stage ----------*/

.transparent-stage-content {
	-fx-padding: 10;
	-fx-background-insets: 10;
}

.transparent-stage-shadow {
	-fx-background-color: white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
	-fx-background-insets: 10;
}

.transparent-stage-content-root {
	-fx-background-color: rgba(255, 255, 255, 0.0);
	-fx-background-insets: 10;
}

/*---------- Color Picker ----------*/

.color-picker-preview {
}

.color-picker-sliders, .border-element-vertical, .color-picker-button-box {
	-fx-background-color: -color-dialog-background;
	-fx-padding: 10;
}

.color-picker-sliders {
	-fx-hgap: 10;
}

.color-picker-button-box {
	-fx-alignment: center-right;
	-fx-spacing: 10;
}

.color-picker-button-box .button {
	-fx-padding: 0 10 0 10;
}

.color-picker-slider-label {
	-fx-text-fill: -color-text-light;
}

.color-picker-sliders .slider {
	-fx-show-tick-labels: false;
	-fx-show-tick-marks: false;
	-fx-snap-to-ticks: false;
	-fx-padding: 10;
}

.color-picker-preview {
	-fx-pref-height: 30;
	-fx-effect: innershadow(gaussian, -color-picker-preview-shadow, 8, 0, 0, 0);
}

/*---------- titled border ----------*/

.bordered-titled-title {
  -fx-background-color: -color-dialog-background;
  -fx-text-fill: -color-text-dark;
  -fx-translate-y: -10;
}

.bordered-titled-border {
  -fx-content-display: top;
  -fx-border-insets: 20 2 2 2;
  -fx-border-color: -color-dialog-separator;
  -fx-border-width: 2;
}

.bordered-titled-content {
  -fx-padding: 30 10 10 22;
}

/*---------- import confirmation dialog ----------*/

.import-confirmation-dialog-content >.v-box >.import-chunks-confirmation-label {
	-fx-padding: 20 0 5 0;
}

.import-chunks-warning-invisible {
	visibility: hidden;
}

.import-confirmation-dialog-content >.v-box >.import-chunks-warning {
	-fx-text-fill: -color-warning-text;
	-fx-padding: 0 0 -10 0;
}

/*---------- nbt editor ----------*/

.nbt-tree-view, .nbt-tree-view-holder {
	-fx-background-color: -color-field-cell-odd;
	-fx-padding: 0;
	-fx-min-width: 400px;
	-fx-min-height: 500px;
}

.key-value-tree-cell {
	-fx-background-color: transparent;
	-fx-text-fill: -color-text-light;
	-fx-pref-height: 25px;
}

.key-value-tree-cell > .tree-disclosure-node > .arrow {
	-fx-background-color: -color-combo-box-arrow;
}

.key-value-tree-cell:selected {
	-fx-background-color: -color-field-cell-even;
}

.key-value-tree-cell .text-field {
	-fx-padding: 0 0 0 2;
}

.key-value-tree-cell .key-value-tree-cell-value {
	-fx-pref-width: 80px;
	-fx-max-width: 80px;
}

.drop-target-before {
	-fx-background-color: linear-gradient(from 0% 100% to 0% 0%, -color-field-cell-odd, -color-field-cell-odd 70%, -color-treeview-cell-insert 90%, -color-treeview-cell-insert);
}

.drop-target-into {
	-fx-background-color: linear-gradient(from 0% 100% to 0% 0%, -color-field-cell-odd, -color-field-cell-odd 20%, -color-treeview-cell-insert 40%, -color-treeview-cell-insert 60%, -color-field-cell-odd 80%, -color-field-cell-odd);
}

.drop-target-after {
	-fx-background-color: linear-gradient(from 0% 0% to 0% 100%, -color-field-cell-odd, -color-field-cell-odd 70%, -color-treeview-cell-insert 90%, -color-treeview-cell-insert);
}

.nbt-tree-view-drop-parent {
	-fx-background-color: linear-gradient(from 0% 100% to 0% 0%, -color-field-cell-odd, -color-field-cell-odd 95%, -color-treeview-cell-insert);
}

.nbt-editor-options {
	-fx-spacing: 3px;
	-fx-padding: 5 0 0 0;
}

.nbt-editor-add-tag-label {
	-fx-padding: 3 0 3 0;
}

.nbt-editor-add-tag-label:hover {
	-fx-padding: 2 -1 2 -1;
}

.nbt-editor-delete-tag-label {
	-fx-border-width: 0 2 0 0;
	-fx-padding: 0 2 0 0;
	-fx-border-color: -color-dialog-separator;
}

.nbt-editor-delete-tag-label-enabled:hover {
	-fx-padding: -1 1 -1 -1;
}

/*---------- array editor ----------*/
.array-editor-table-view {
	-fx-background-color: -color-field-cell-odd;
}

.array-editor-table-view .column-header, .array-editor-table-view .column-header .filler, .array-editor-table-view .column-header-background .filler {
	-fx-background-color: -color-field-cell-odd;
	-fx-border-width: 0 0 1 0;
	-fx-border-color: -color-table-line;
}

.array-editor-table-view .table-cell {
 	-fx-text-fill: -color-text-light;
	-fx-width: 100%;
}

.array-editor-table-view .table-row-cell:even {
	-fx-background-color: -color-field-cell-even;
}

.array-editor-table-view .table-row-cell:odd {
	-fx-background-color: -color-field-cell-odd;
}

.array-editor-table-view .table-row-cell {
	-fx-table-cell-border-color: -color-table-line;
}

.array-editor-table-view .table-row-cell:selected {
	-fx-background-color: -color-treeview-cell-insert;
}

.array-editor-table-view .text-field-table-cell {
	-fx-padding: 1 0 0 4;
	-fx-alignment: center-left;
}

.array-editor-table-view .text-field-table-cell .text-field {
	-fx-padding: 0 0 0 -2;
}

.array-editor-options {
	-fx-spacing: 3px;
	-fx-padding: 5 0 0 0;
}

.array-editor-add-tag-label {
	-fx-padding: 3 0 3 0;
}

.array-editor-add-tag-label:hover {
	-fx-padding: 2 -1 2 -1;
}

.array-editor-delete-tag-label {
	-fx-border-width: 0 2 0 0;
	-fx-padding: 0 2 0 0;
	-fx-border-color: -color-dialog-separator;
}

.array-editor-delete-tag-label-enabled:hover {
	-fx-padding: -1 1 -1 -1;
}