VS_VERSION_INFO VERSIONINFO
    FILEVERSION    2,5,3,0
    PRODUCTVERSION 2,5,3,0
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "FileDescription",    "MCA Selector\0"
            VALUE "FileVersion",        "2.5.3.0\0"
            VALUE "LegalCopyright",     "© 2018 - 2025 Querz\0"
            VALUE "OriginalFilename",   "MCA Selector.exe\0"
            VALUE "ProductName",        "MCA Selector\0"
            VALUE "ProductVersion",     "2.5.3\0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}