* {
    -color-range-slider-base: #ececec;
    -color-range-slider-background: derive(-color-range-slider-base, 26.4%);
    -color-range-slider-text-box-border:
            ladder(-color-range-slider-background,
                black 10%,
                derive(-color-range-slider-background, -15%) 30%);
    -color-range-slider-inner-border: linear-gradient(to bottom,
            ladder(-color-range-slider-base,
                derive(-color-range-slider-base, 30%) 0%,
                derive(-color-range-slider-base, 20%) 40%,
                derive(-color-range-slider-base, 25%) 60%,
                derive(-color-range-slider-base, 55%) 80%,
                derive(-color-range-slider-base, 55%) 90%,
                derive(-color-range-slider-base, 75%) 100%),
            ladder(-color-range-slider-base,
                derive(-color-range-slider-base, 20%) 0%,
                derive(-color-range-slider-base, 10%) 20%,
                derive(-color-range-slider-base, 5%) 40%,
                derive(-color-range-slider-base, -2%) 60%,
                derive(-color-range-slider-base, -5%) 100%));
    -color-range-slider-body-color: linear-gradient(to bottom,
            ladder(-color-range-slider-base,
                derive(-color-range-slider-base, 8%) 75%,
                derive(-color-range-slider-base, 10%) 80%),
                derive(-color-range-slider-base, -8%));
    -color-flip-label-hover-background: #494d50;
}

.hue-range-slider {
    -fx-pref-width: 400;
    -fx-pref-height: 32;
}

.hue-range-slider #upper-thumb, .hue-range-slider #lower-thumb {
    -fx-background-color: linear-gradient(to bottom, derive(-color-range-slider-text-box-border, -20%), derive(-color-range-slider-text-box-border, -30%)), -color-range-slider-inner-border, -color-range-slider-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-effect: dropshadow(two-pass-box , rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);

    -fx-background-radius: 0;
    -fx-pref-width: 6;
    -fx-pref-height: 32;
    -fx-cursor: h-resize;
}

.hue-range-slider .track {
    -fx-background-color: transparent;
    -fx-pref-height: 32;
}

.hue-range-slider #range-bar {
    -fx-pref-height: 32;
    -fx-background-color: transparent;
    -fx-cursor: hand;
}