* {
    -color-overlay-add-hover-background: #494d50;
}

.overlay-dialog-pane {
    -fx-padding: 10 10 0 10;
    -fx-min-width: 700;
}

.overlay-add-label:hover {
    -fx-background-color: -color-overlay-add-hover-background
}

.overlay-list {
    -fx-min-width: 700;
}

.overlay-list .scroll-pane {
    -fx-pref-height: 300;
    -fx-min-height: 50;
    -fx-max-height: infinity;
}

.overlay-dialog-pane .custom-menu-item:hover {
    -fx-background-color: -color-menu-background;
}